/* ======================LAYOUT =======================*/
$color-link:#EC008C;
$background-color:#403e3e;
$white:#727071;
$body-width:980px;
$font-normal:12.5px;
$title:14.5px;
$subtitle:13px;
@mixin fuente-size($element){
	@if $element==a{
		font-size:$font-normal;
		text-decoration:none;
		color:$color-link;
	}@else if $element== p{
		font-size:$font-normal;
	}@else if $element==h1{
		font-size:$title;
		color:$white;
		font-weight:bold;
	}@else if $element==h2{
		font-size:$subtitle;
		color:$white;
	}@else if $element==li{
		list-style:none;
		font-size:$font-normal;
	}
	font-family:Arial, Helvetica, sans-serif
}
@mixin hide-text(){
	text-indent: 110%;  
	white-space: nowrap;  
	overflow: hidden;  
	display: block;
}
body{
	background:url(../img/top-body.jpg) 50% 0 no-repeat;
	background-color:$background-color;
	overflow-x: hidden;
	height:100%;
	max-width:$body-width;
	margin:0 auto;
}
a{
	@include fuente-size(a);
	&:hover{
			color:#a05c84;
	}
}
p{
	@include fuente-size(p);
}
ul,li{
	@include fuente-size(li);
}
h1{
	@include fuente-size(h1);
}
h2,h3{
	@include fuente-size(h2);
}
.main_container{
	float:left;
	.noscript{
		p{
			font-size:20px;
			a{font-size: inherit;}
		}	
	}
}
